#darker {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .5;
}
#logo{
    @include sprite($logo);
    @include sprite-center($logo);
    position: absolute;
    top:32px;
    left:50px;
    margin: 0px;
    padding: 0px;
 }

#quote_top{
    position: absolute;
    width: 256px;
    margin-left: -128px;
    top:32px;
    left:50%;
 }

 #head_large{
    @include sprite($head_genesis);
    @include sprite-center($head_genesis);
    position: absolute;
    top:192px;
    left:50%;
 }

#social{
    //display: inline-block;
    @include sprite($social);
    //@include sprite-center($social);
    position: absolute;
    top:20px;
    right:20px;
    margin: 0px;
    padding: 0px;
 }
#totale {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/totale.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#rocktemp {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../img/rock.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 .pie_progress {
  text-align: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.pie_progress svg {
  margin: 0 auto;
}
.pie_progress__content,
.pie_progress__number,
.pie_progress__label,
.pie_progress__icon {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.pie_progress__number {
  font-size: 24px;
}
.pie_progress__label {
  margin-top: 32px;
  font-size: 12px;
}


#preloader {
	position: absolute;
	top:50%;
	left:50%;
	margin-left: -75px;
	margin-top: -75px;
}


#info {
    position: relative;
    margin: 0 auto -2.1em;
    top: 0px;
    width: 550px;
    padding: 5px;
    z-index:100;
}

#console {
    position: absolute;
    margin: 0 auto -2.1em;
    bottom: 0px;
    right: 0px;
    width: 50px;
    padding: 5px;
    z-index:100;
}

#btn01 {
    left: 96px;
}
#btn02 {
    left: 256px;
}
#btn03 {
    left: 420px;
}

.btn {
    @extend %font-medium;
  @include font-size(10, 12);
  color: $color-white;
  font-style: italic;
  position: absolute;
    margin: 0 auto -2.1em;
    width: 100px;
    padding: 5px;
    z-index:100;
    cursor: pointer;
   // background-color: #000;
    bottom: 32px;
    text-decoration: underline;
}
